@{
    CasaSW.Models.ViewModel.UserAdmin oUsuario;
    oUsuario = (CasaSW.Models.ViewModel.UserAdmin)HttpContext.Current.Session["usuario"];
    var condicion = oUsuario.Rol.ToLower();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*FONTS*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    @*STYLES*@
    <link rel="stylesheet" href="~/Content/stylesheet.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @*DELETE BROWSER CACHE*@
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>
<body>
    <div class="header">
        <div class="nav-tl">
            <div>
                <p>@ViewBag.Guide</p>
            </div>
            <label for="hamburger-mn" class="lbl-hm">
                <!-- label hamburger menu-->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="25"
                     height="25" viewBox="0 0 24 24" stroke-width="2" stroke="#939292" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="4" y1="6" x2="20" y2="6" />
                    <line x1="4" y1="12" x2="20" y2="12" />
                    <line x1="4" y1="18" x2="20" y2="18" />
                </svg>
            </label>
            <input type="checkbox" id="hamburger-mn">
            <div class="bg-active">
            </div>
            <nav class="nav-pr">
                @{
                    @Html.ActionLink("Home", "Index", "HOME");
                    @Html.ActionLink("Request", "Index", "SW_REQUEST");
                    @Html.ActionLink("Customers", "Index", "CUSTOMERS");
                    @Html.ActionLink("Stock", "Index", "STOCK");
                    switch (condicion)
                    {
                        case "sac":
                            @Html.ActionLink("Support", "Index", "SUPPORT");
                            break;
                        case "admin":
                            @Html.ActionLink("Management", "Index", "MANAGEMENT");
                            break;
                    }
                }
            </nav>
            <div class="user-icon">
                <label for="btn-log-out">
                    @oUsuario.Username
                    @{
                        switch (oUsuario.avatar)
                        {
                            case "1":
                                <img src="~/img/avatar1.png" style="width: 45px; height: 45px; "/>
                                break;
                            case "2":
                                <img src="~/img/avatar2.png" style="width: 45px; height: 45px; " />
                                break;
                            case "3":
                                <img src="~/img/avatar3.png" style="width: 45px; height: 45px; "/>
                                break;
                            case "4":
                                <img src="~/img/avatar4.png" style="width: 45px; height: 45px; "/>
                                break;
                        }
                    }
                </label>
            </div>
        </div>
    </div>
    <input type="checkbox" id="btn-log-out" />
    <div class="log-out">
        <div class="arrow-up">

        </div>
        <div class="log-out-content">
            @Html.ActionLink("Log Out", "", "")
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
