@model CasaSW.Models.ViewModel.CustomerPersona

@{
    CasaSW.Models.ViewModel.CustomerPersona oUsuario;
    oUsuario = Model;
    ViewBag.Title = "Edit Customer";
    ViewBag.Guide = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/register.css" />

<div class="form">
    <p class="guide">
        You are at > <a href="/HOME/Index">Home</a> > <a href="/CUSTOMERS/Index">Management</a> > <a href="#">Edit Customer</a>
    </p>
    <form action="@Url.Action("Edit","CUSTOMERS")" method="post" class="info-form">
        <fieldset>
            <legend>Edit CUSTOMER</legend>
            <div class="info-sac">
                
                <div class="info-sac-content">
                    <label for="id">Identification</label>
                    <input type="text" readonly id="id" name="Id_" value="@oUsuario.Id_">
                    <label for="name">Name</label>
                    <input type="text" required id="name" name="Name_" value="@oUsuario.Name_" placeholder="Name">
                    <label for="email">Email</label>
                    <input type="email" required id="email" name="Email_" value="@oUsuario.Email_" placeholder="Email">
                    <label for="username">Username</label>
                    <input type="text" required id="username" name="Username_" value="@oUsuario.Username_" placeholder="Username">
                    <label for="phone">Phone Number</label>
                    <input type="text" required id="phone" name="PhoneN_" value="@oUsuario.PhoneN_" placeholder="Phone Number">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="Password" placeholder="Fill only if you want to edit">
                </div>
                @if (ViewData["Mensaje"] != null)
                {
                    <div role="alert" style="text-align:center;">
                        @ViewData["Mensaje"]
                    </div>
                }
                <button type="submit" id="crea" class="edit">Edit CUSTOMER</button>
            </div>
        </fieldset>
    </form>
</div>
