@model IEnumerable<CasaSW.Models.ViewModel.CustomerPersona>

@{
    ViewBag.Title = "Customers Management";
    ViewBag.Guide = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Model;
}

<link rel="stylesheet" href="~/Content/customers.css" />
<script src="~/Scripts/customers.js"></script>

<p class="guide">
    You are at > @Html.ActionLink("Home", "Index", "HOME") > @Html.ActionLink("Customers", "Index")
</p>
<div class="form">
    <table class="table">
        <tr class="tbl-header">
            <th>
                DNI
            </th>
            <th>
                Username
            </th>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
        <tbody class="tbl-body">
            @foreach (var item in Model)
            {
                <tr class="tbl-body-content">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username_)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name_)
                    </td>
                    <td class="actions">
                        @Html.ActionLink("Orders", "Orders", new { id = item.Id_ })
                        @*<a class="bt-details">Details</a>*@
                        @Html.ActionLink("Details", "Details", new { id = item.Id_ }, new { @class = "bt-details" })
                        @Html.ActionLink("Edit", "", new {id = item.Id_})
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id_ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div style="display: none;" id="modalDetails"></div>
