@model IEnumerable<CasaSW.Models.ViewModel.OrderProduct>

@{
    ViewBag.Title = "Customer Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Guide = "Orders";
    var model = Model;
}

<link rel="stylesheet" href="~/Content/orders.css" />


<p class="guide">
    You are at > @Html.ActionLink("Home", "Index", "HOME") > @Html.ActionLink("Customers", "Index") > @Html.ActionLink("Orders", "Orders")
</p>
<div class="container">
    <div class="order-header">
        @{
            if (model.Any())
            {

                <p>
                    View data for
                </p>
                <p>
                    { Id: @Html.DisplayFor(modelItem => model.ElementAt(0).id_persona_)
                </p>
                <p>
                    Username: @Html.DisplayFor(modelItem => model.ElementAt(0).username_persona) }
                </p>
            }
        }
    </div>
    <div class="order-body">
        @foreach (var item in Model)
        {
            <div class="order-section">
                <div class="order-info">
                    <p>
                        <b>Order name: @Html.DisplayFor(modelItem => item.orderName_)</b>
                    </p>

                    <div class="order-state">
                        <b>Order state: @Html.DisplayFor(modelItem => item.state_)</b>
                        @{
                            var state = item.state_;
                            if (state.ToLower() == "in process")
                            {
                                <p>@Html.ActionLink("Finish", "Finish", new { id = item.id_product_ }, new { @class = "end-order" })</p>
                            }
                        }
                    </div>

                    <div class="product-section">
                        <p>
                            <b>Product Info</b>
                        </p>
                        <div class="product-section-info">
                            @* HEADER *@
                            <p><b>Id</b></p>
                            <p><b>Name</b></p>
                            <p><b>Type</b></p>
                            <p><b>Version</b></p>
                            @* BODY *@
                            <p>@Html.DisplayFor(modelItem => item.id_product_)</p>
                            <p>@Html.DisplayFor(modelItem => item.product_name)</p>
                            <p>@Html.DisplayFor(modelItem => item.product_type)</p>
                            <p>@Html.DisplayFor(modelItem => item.product_version)</p>
                            <div class="product-section-desc">
                                <p><b>Description</b></p>
                                <p> @Html.DisplayFor(modelItem => item.product_description)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
</div>
